---
layout: position_page
---

<% current_page.add_metadata({ title: vacancy_name(vacancy) }) %>
<% content_for(:title, vacancy_name(vacancy)) %>

<% vacancy_path = "includes/positions/#{vacancy.position.downcase.parameterize}" %>

<%= partial "includes/reasons_to_work_for_gitlab" rescue nil %>
<%= partial "#{vacancy_path}/blurb" rescue nil %>
<%= partial "#{vacancy_path}/responsibilities" rescue nil %>

<%= partial "#{vacancy_path}/requirements" rescue nil %>
<%= partial "#{vacancy_path}/#{vacancy.level.downcase}" rescue nil %>
<%= partial "#{vacancy_path}/#{vacancy.specialist.downcase.parameterize.underscore}" rescue nil %>

<%= partial "#{vacancy_path}/workflow" rescue nil %>
<%= partial "#{vacancy_path}/relevant_links" rescue nil %>

<%= partial "#{vacancy_path}/hiring_process" rescue nil %>

## Apply

Avoid the [confidence gap]; you do not have to match all the listed
requirements exactly to apply. Our hiring process is described in more
detail in our [hiring handbook].

Work remotely from anywhere in the world. Curious to see what that looks
like? Check out our [remote manifesto].

[confidence gap]: http://www.theatlantic.com/magazine/archive/2014/05/the-confidence-gap/359815/
[hiring handbook]: /handbook/hiring/
[remote manifesto]: /2015/04/08/the-remote-manifesto/

<% if vacancy.level %>
  **NOTE** In the compensation calculator below, fill in "<%= vacancy.level %>" in the `Level` field for this role.
<% end %>

<%= partial "includes/salary_calculator", locals: {title: vacancy.position} %>

<%= link_to("Apply", vacancy.apply, class: 'btn btn-purple') %>
